<body>
	<textarea id='respuesta'></textarea>
	<input value='OK' type='button' onclick='onc();'/>
	<script src='Campos.js'></script>
	<script>
		function onc(){
			accesos('respuesta');
		}
		document.getElementById('respuesta').focus();
	</script>
</body>